In [ ]:
# import the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# Load the CSV file into a DataFrame

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/attendence_rate/attendence_rate.csv'
df = pd.read_csv(file_path)
# Replace null values with the average of their respective columns
df.fillna(df.mean(), inplace=True)

<ipython-input-3-41df7ab7cd44>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

# Explanatory Data Analysis (EDA)

In [ ]:
# display the first 5 rows
df.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.000000,53.00000,73.000000,59.000000,80.000000,...,28.000000,19.000000,37.000000,24.000000,40.00000,17.00000,21.000000,22.000000,33.0,45.000000
1,ALB,Albania,ECA,EECA,More Developed,90.000000,91.00000,89.000000,89.000000,91.000000,...,78.000000,80.000000,76.000000,74.000000,81.00000,64.00000,75.000000,79.000000,87.0,86.000000
2,DZA,Algeria,MENA,MENA,Less Developed,97.000000,97.00000,97.000000,96.000000,98.000000,...,51.000000,62.000000,40.000000,42.000000,55.00000,28.00000,42.000000,49.000000,58.0,74.000000
3,AND,Andorra,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,AGO,Angola,SSA,ESA,Least Developed,76.000000,76.00000,76.000000,61.000000,84.000000,...,30.000000,28.000000,32.000000,7.000000,39.00000,3.00000,6.000000,20.000000,38.0,61.000000

#### Identifying the number of missing rows in the dataset

There are a lot of missing values in this dataset. Therefore, we need to consider to remove these missing rows or impute them with mean, median or some statical evaluation. First, we need to identify the number of missing rows in the dataset.

In [ ]:
# check for the missing values
df.isna().sum()

ISO3                   0
Country                0
Region                 2
Sub-region             3
Development Regions    1
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

Why there are 2 missing values in the 'Region' and 'Sub-region' columns? There were no missing value when I first checked in the Microsoft Excel. What's the problem here?

In [ ]:
# check the no of rows and columns
df.shape

(203, 35)

In [ ]:
df[df['Region'].isna() == True]

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
33,CAN,Canada,NaN,NaN,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
194,USA,United States,NaN,NaN,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308

#### Caution: The Region and Sub-region code 'NA' turned into null values. Therefore, there are two missing values in these two columns. The 'NA' values turn into 'NAN'. Thus, we need to modify these values manually. Firstly, we need to identify the data types of those two columns named 'Region' and 'Sub-region'.

In [ ]:
df.dtypes

ISO3                    object
Country                 object
Region                  object
Sub-region              object
Development Regions     object
total_p                float64
female_p               float64
male_p                 float64
rural_p                float64
urban_p                float64
poorest_p              float64
second_p               float64
middle_p               float64
fourth_p               float64
richest_p              float64
total_ls               float64
female_ls              float64
male_ls                float64
rural_ls               float64
urban_ls               float64
poorest_ls             float64
second_ls              float64
middle_ls              float64
fourth_ls              float64
richest_ls             float64
total_us               float64
female_us              float64
male_us                float64
rural_ls.1             float64
urban_ls.1             float64
poorest_us             float64
second_us              float64
middle_us              float64
fourth_us              float64
richest_us             float64
dtype: object

Great, they are object which means they are string. It is easy to modify these string values.

In [ ]:
# clone the dataframe because we are going to change something and we don't want to mess the original dataframe
df_new = df.copy()

In [ ]:
# check again in the clone dataframe to make sure everything is the same as the previous
df_new.isna().sum()

ISO3                   0
Country                0
Region                 2
Sub-region             3
Development Regions    1
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# redefine the variables
df_new.loc[33, 'Region'] = 'NA'
df_new.loc[33, 'Sub-region'] = 'NA'
df_new.loc[193,'Region'] = 'NA'
df_new.loc[193, 'Sub-region'] = 'NA'

In [ ]:
# let's recheck again
df_new.isna().sum()

ISO3                   0
Country                0
Region                 1
Sub-region             2
Development Regions    1
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# we have successfully redefined the variables
print(df_new.loc[33])
print(df_new.loc[193])

ISO3                              CAN
Country                        Canada
Region                             NA
Sub-region                         NA
Development Regions    More Developed
total_p                     87.096774
female_p                     87.00813
male_p                      87.105691
rural_p                     85.068376
urban_p                     91.487179
poorest_p                   79.419643
second_p                    84.290909
middle_p                    87.372727
fourth_p                    90.463636
richest_p                   93.718182
total_ls                    63.513274
female_ls                   64.955752
male_ls                     62.238938
rural_ls                    56.918182
urban_ls                         71.3
poorest_ls                  47.579439
second_ls                   55.757009
middle_ls                    61.28972
fourth_ls                    68.46729
richest_ls                  77.953271
total_us                    47.281818
female_us                   49.327273
male_us                     45.372727
rural_ls.1                  40.268519
urban_ls.1                   54.37037
poorest_us                   29.87619
second_us                   37.778846
middle_us                   43.394231
fourth_us                        51.0
richest_us                  64.317308
Name: 33, dtype: object
ISO3                                           TZA
Country                United Republic of Tanzania
Region                                          NA
Sub-region                                      NA
Development Regions                Least Developed
total_p                                       81.0
female_p                                      83.0
male_p                                        78.0
rural_p                                       77.0
urban_p                                       91.0
poorest_p                                     63.0
second_p                                      75.0
middle_p                                      85.0
fourth_p                                      92.0
richest_p                                     95.0
total_ls                                      28.0
female_ls                                     31.0
male_ls                                       25.0
rural_ls                                      20.0
urban_ls                                      44.0
poorest_ls                                     7.0
second_ls                                     13.0
middle_ls                                     20.0
fourth_ls                                     39.0
richest_ls                                    49.0
total_us                                       3.0
female_us                                      3.0
male_us                                        3.0
rural_ls.1                                     1.0
urban_ls.1                                     7.0
poorest_us                                     0.0
second_us                                      0.0
middle_us                                      1.0
fourth_us                                      3.0
richest_us                                     9.0
Name: 193, dtype: object

In [ ]:
# identify the dataset
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 203 non-null    object
 1   Country              203 non-null    object
 2   Region               202 non-null    object
 3   Sub-region           201 non-null    object
 4   Development Regions  202 non-null    object
 5   total_p              203 non-null    float64
 6   female_p             203 non-null    float64
 7   male_p               203 non-null    float64
 8   rural_p              203 non-null    float64
 9   urban_p              203 non-null    float64
 10  poorest_p            203 non-null    float64
 11  second_p             203 non-null    float64
 12  middle_p             203 non-null    float64
 13  fourth_p             203 non-null    float64
 14  richest_p            203 non-null    float64
 15  total_ls             203 non-null    float64
 16  female_ls            203 non-null    float64
 17  male_ls              203 non-null    float64
 18  rural_ls             203 non-null    float64
 19  urban_ls             203 non-null    float64
 20  poorest_ls           203 non-null    float64
 21  second_ls            203 non-null    float64
 22  middle_ls            203 non-null    float64
 23  fourth_ls            203 non-null    float64
 24  richest_ls           203 non-null    float64
 25  total_us             203 non-null    float64
 26  female_us            203 non-null    float64
 27  male_us              203 non-null    float64
 28  rural_ls.1           203 non-null    float64
 29  urban_ls.1           203 non-null    float64
 30  poorest_us           203 non-null    float64
 31  second_us            203 non-null    float64
 32  middle_us            203 non-null    float64
 33  fourth_us            203 non-null    float64
 34  richest_us           203 non-null    float64
dtypes: float64(30), object(5)
memory usage: 55.6+ KB

In [ ]:
# describe statistics
df_new.describe()

,total_p,female_p,male_p,rural_p,urban_p,poorest_p,second_p,middle_p,fourth_p,richest_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
count,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,...,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,87.096774,87.008130,87.105691,85.068376,91.487179,79.419643,84.290909,87.372727,90.463636,93.718182,...,47.281818,49.327273,45.372727,40.268519,54.370370,29.876190,37.778846,43.394231,51.000000,64.317308
std,11.329633,11.859531,10.928577,12.967487,7.154321,16.076438,13.584479,11.524773,8.754449,5.766180,...,20.302205,21.154104,19.857377,21.859046,17.717696,20.732787,21.911152,21.509477,20.801276,17.940293
min,23.000000,21.000000,26.000000,19.000000,40.000000,10.000000,13.000000,19.000000,31.000000,50.000000,...,3.000000,3.000000,3.000000,0.000000,7.000000,0.000000,0.000000,0.000000,1.000000,9.000000
25%,87.096774,87.008130,87.105691,85.068376,91.487179,79.419643,84.290909,87.372727,90.463636,93.718182,...,38.000000,41.000000,36.000000,29.000000,49.500000,16.000000,26.500000,37.000000,49.500000,64.317308
50%,87.096774,87.008130,87.105691,85.068376,91.487179,79.419643,84.290909,87.372727,90.463636,93.718182,...,47.281818,49.327273,45.372727,40.268519,54.370370,29.876190,37.778846,43.394231,51.000000,64.317308
75%,95.000000,95.000000,95.000000,95.000000,96.000000,91.500000,94.000000,95.000000,96.000000,97.000000,...,47.640909,54.500000,45.372727,40.268519,54.370370,29.876190,37.778846,43.394231,51.500000,69.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,96.000000,96.000000,96.000000,96.000000,97.000000,96.000000,99.000000,97.000000,100.000000,99.000000

# Imputation

In order to impute the missing values, we need to identify how many missing values are there and are they missing at random? The problem is there are rows where all the data are missing as a whole. In addition, the data are not missing at random and removing them from the dataset completely will certainly introduce certain biases.

On the other hand, imputing directly as a column will introduce outliers because the dataset contains developed countries that have high literacy rate and least developed countries which have low literacy rate. If we subsitute mean / median that are calculated based on these variables to the missing values will certainly intrdouce biases to the dataset.

Therefore, I will divide the countries into different groups based on their economic status <b>('Development Regions' in the dataset)</b>. This process can reduce the amount of biases because the imputation of mean or median would take in each group. For example, a certain developed countries variable which can become the outliers will not affect to other groups. This process of dividing the dataset into different groups based on a certain characteristics and performing imputation is called <b>"Stratified Imputation"</b>.

##### Definition: Stratified imputation involves dividing the data into strata (e.g., by region, income group, or development status) and imputing missing values within each stratum separately. This approach helps account for differences in literacy rates across different groups and reduces bias.

In [ ]:
# identify different economies in the dataset
print(df_new['Development Regions'].unique())

['Least Developed' 'More Developed' 'Less Developed' 'Not Classified' nan]

In [ ]:
# group the countries based on their economies
least_developed_countries = df_new[df_new['Development Regions'] == 'Least Developed'].reset_index(drop = True)
less_developed_countries = df_new[df_new['Development Regions'] == 'Less Developed'].reset_index(drop = True)
more_developed_countries = df_new[df_new['Development Regions'] == 'More Developed'].reset_index(drop = True)
unclassified_countries = df_new[df_new['Development Regions'] == 'Not Classified'].reset_index(drop = True)

In [ ]:
# check the stratas
least_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.0,53.0,73.0,59.0,80.0,...,28.0,19.0,37.0,24.0,40.0,17.0,21.0,22.0,33.0,45.0
1,AGO,Angola,SSA,ESA,Least Developed,76.0,76.0,76.0,61.0,84.0,...,30.0,28.0,32.0,7.0,39.0,3.0,6.0,20.0,38.0,61.0
2,BGD,Bangladesh,SA,SA,Least Developed,86.0,89.0,83.0,86.0,86.0,...,48.0,53.0,43.0,47.0,53.0,30.0,41.0,51.0,54.0,67.0
3,BEN,Benin,SSA,WCA,Least Developed,68.0,65.0,71.0,62.0,79.0,...,12.0,9.0,15.0,7.0,19.0,2.0,5.0,8.0,12.0,29.0
4,BTN,Bhutan,SA,SA,Least Developed,95.0,95.0,96.0,94.0,98.0,...,24.0,26.0,22.0,15.0,45.0,4.0,7.0,14.0,29.0,58.0

In [ ]:
less_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,DZA,Algeria,MENA,MENA,Less Developed,97.000000,97.00000,97.000000,96.000000,98.000000,...,51.000000,62.000000,40.000000,42.000000,55.00000,28.00000,42.000000,49.000000,58.0,74.000000
1,ATG,Antigua and Barbuda,LAC,LAC,Less Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,ARG,Argentina,LAC,LAC,Less Developed,98.000000,98.00000,98.000000,85.068376,91.487179,...,67.000000,71.000000,63.000000,40.268519,54.37037,49.00000,65.000000,73.000000,74.0,81.000000
3,ARM,Armenia,ECA,EECA,Less Developed,95.000000,95.00000,95.000000,95.000000,96.000000,...,85.000000,89.000000,81.000000,83.000000,87.00000,82.00000,82.000000,83.000000,86.0,92.000000
4,AZE,Azerbaijan,ECA,EECA,Less Developed,68.000000,67.00000,69.000000,67.000000,68.000000,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308

In [ ]:
more_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,ALB,Albania,ECA,EECA,More Developed,90.000000,91.00000,89.000000,89.000000,91.000000,...,78.000000,80.000000,76.000000,74.000000,81.00000,64.00000,75.000000,79.000000,87.0,86.000000
1,AND,Andorra,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,AUS,Australia,EAP,EAP,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
3,AUT,Austria,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,BLR,Belarus,ECA,EECA,More Developed,93.000000,94.00000,93.000000,95.000000,93.000000,...,87.000000,86.000000,88.000000,91.000000,85.00000,87.00000,85.000000,90.000000,87.0,84.000000

In [ ]:
unclassified_countries.head(6)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AIA,Anguilla,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
1,VGB,British Virgin Islands,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,VAT,Holy See,ECA,WE,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
3,MSR,Montserrat,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,TKL,Tokelau,EAP,EAP,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
5,TCA,Turks and Caicos Islands,LAC,LAC,Not Classified,97.000000,98.00000,96.000000,98.000000,97.000000,...,75.000000,75.000000,74.000000,86.000000,74.00000,53.00000,78.000000,64.000000,61.0,94.000000

In [ ]:
# indentify no. of countries in each straturm
print('No. of least developed countries: ', least_developed_countries.shape[0])
print('No. of leass developed countries: ', less_developed_countries.shape[0])
print('No. of more developed countries: ', more_developed_countries.shape[0])
print('No. of unclassified countries: ', unclassified_countries.shape[0])
print("Total: ", least_developed_countries.shape[0]+less_developed_countries.shape[0]+more_developed_countries.shape[0]+unclassified_countries.shape[0])

No. of least developed countries:  47
No. of leass developed countries:  99
No. of more developed countries:  50
No. of unclassified countries:  6
Total:  202

Among the different imputation methods, I would like to choose the median value to impute the null values a.k.a "NAN". Replacing null values with mean or median of a certain column is very popular in imputation. "The technique, in this instance, replaces the null values with mean, rounded mean, or median values determined for that feature across the whole dataset (in our case, in each group). It is advised to utilize the median rather than the mean when your dataset has a significant number of outliers (Simplilearn, 2023)."

<b>Ref:</b> https://www.simplilearn.com/data-imputation-article

In [ ]:
# identify the no. of missing rows in least_developed_countries data frame
least_developed_countries.isna().sum()

ISO3                   0
Country                0
Region                 0
Sub-region             0
Development Regions    0
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# identify median for each columns in least_developed_countries data frame
least_developed_countries.median(numeric_only=True)

total_p       78.0
female_p      79.0
male_p        78.0
rural_p       77.0
urban_p       87.0
poorest_p     66.0
second_p      75.0
middle_p      84.0
fourth_p      87.0
richest_p     93.0
total_ls      34.0
female_ls     34.0
male_ls       36.0
rural_ls      25.0
urban_ls      52.0
poorest_ls    15.0
second_ls     21.0
middle_ls     27.0
fourth_ls     43.0
richest_ls    64.0
total_us      24.0
female_us     25.0
male_us       25.0
rural_ls.1    15.0
urban_ls.1    37.0
poorest_us     6.0
second_us      9.0
middle_us     17.0
fourth_us     29.0
richest_us    48.0
dtype: float64

In [ ]:
# median imputation
least_developed_countries = least_developed_countries.fillna(least_developed_countries.median(numeric_only=True))

In [ ]:
# check the imputation
least_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.0,53.0,73.0,59.0,80.0,...,28.0,19.0,37.0,24.0,40.0,17.0,21.0,22.0,33.0,45.0
1,AGO,Angola,SSA,ESA,Least Developed,76.0,76.0,76.0,61.0,84.0,...,30.0,28.0,32.0,7.0,39.0,3.0,6.0,20.0,38.0,61.0
2,BGD,Bangladesh,SA,SA,Least Developed,86.0,89.0,83.0,86.0,86.0,...,48.0,53.0,43.0,47.0,53.0,30.0,41.0,51.0,54.0,67.0
3,BEN,Benin,SSA,WCA,Least Developed,68.0,65.0,71.0,62.0,79.0,...,12.0,9.0,15.0,7.0,19.0,2.0,5.0,8.0,12.0,29.0
4,BTN,Bhutan,SA,SA,Least Developed,95.0,95.0,96.0,94.0,98.0,...,24.0,26.0,22.0,15.0,45.0,4.0,7.0,14.0,29.0,58.0

In [ ]:
# identify the no. of missing rows in less_developed_countries data frame
less_developed_countries.isna().sum()

ISO3                   0
Country                0
Region                 0
Sub-region             0
Development Regions    0
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# identify median for each columns in less_developed_countries data frame
less_developed_countries.median(numeric_only=True)

total_p       94.000000
female_p      95.000000
male_p        94.000000
rural_p       92.000000
urban_p       94.000000
poorest_p     85.000000
second_p      88.000000
middle_p      91.000000
fourth_p      93.000000
richest_p     94.000000
total_ls      63.513274
female_ls     64.955752
male_ls       62.238938
rural_ls      56.918182
urban_ls      71.300000
poorest_ls    47.579439
second_ls     55.757009
middle_ls     61.289720
fourth_ls     68.467290
richest_ls    77.953271
total_us      47.281818
female_us     49.327273
male_us       45.372727
rural_ls.1    40.268519
urban_ls.1    54.370370
poorest_us    29.876190
second_us     37.778846
middle_us     43.394231
fourth_us     51.000000
richest_us    64.317308
dtype: float64

In [ ]:
# median imputation
less_developed_countries = less_developed_countries.fillna(less_developed_countries.median(numeric_only=True))

In [ ]:
# check the imputation
less_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,DZA,Algeria,MENA,MENA,Less Developed,97.000000,97.00000,97.000000,96.000000,98.000000,...,51.000000,62.000000,40.000000,42.000000,55.00000,28.00000,42.000000,49.000000,58.0,74.000000
1,ATG,Antigua and Barbuda,LAC,LAC,Less Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,ARG,Argentina,LAC,LAC,Less Developed,98.000000,98.00000,98.000000,85.068376,91.487179,...,67.000000,71.000000,63.000000,40.268519,54.37037,49.00000,65.000000,73.000000,74.0,81.000000
3,ARM,Armenia,ECA,EECA,Less Developed,95.000000,95.00000,95.000000,95.000000,96.000000,...,85.000000,89.000000,81.000000,83.000000,87.00000,82.00000,82.000000,83.000000,86.0,92.000000
4,AZE,Azerbaijan,ECA,EECA,Less Developed,68.000000,67.00000,69.000000,67.000000,68.000000,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308

In [ ]:
# identify the no. of missing rows in more_developed_countries data frame
more_developed_countries.isna().sum()

ISO3                   0
Country                0
Region                 1
Sub-region             1
Development Regions    0
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# identify median for each columns in more_developed_countries data frame
more_developed_countries.median(numeric_only=True)

total_p       87.096774
female_p      87.008130
male_p        87.105691
rural_p       85.068376
urban_p       91.487179
poorest_p     79.419643
second_p      84.290909
middle_p      87.372727
fourth_p      90.463636
richest_p     93.718182
total_ls      63.513274
female_ls     64.955752
male_ls       62.238938
rural_ls      56.918182
urban_ls      71.300000
poorest_ls    47.579439
second_ls     55.757009
middle_ls     61.289720
fourth_ls     68.467290
richest_ls    77.953271
total_us      47.281818
female_us     49.327273
male_us       45.372727
rural_ls.1    40.268519
urban_ls.1    54.370370
poorest_us    29.876190
second_us     37.778846
middle_us     43.394231
fourth_us     51.000000
richest_us    64.317308
dtype: float64

In [ ]:
# median imputation
more_developed_countries = more_developed_countries.fillna(more_developed_countries.median(numeric_only=True))

In [ ]:
# check the imputation
more_developed_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,ALB,Albania,ECA,EECA,More Developed,90.000000,91.00000,89.000000,89.000000,91.000000,...,78.000000,80.000000,76.000000,74.000000,81.00000,64.00000,75.000000,79.000000,87.0,86.000000
1,AND,Andorra,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,AUS,Australia,EAP,EAP,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
3,AUT,Austria,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,BLR,Belarus,ECA,EECA,More Developed,93.000000,94.00000,93.000000,95.000000,93.000000,...,87.000000,86.000000,88.000000,91.000000,85.00000,87.00000,85.000000,90.000000,87.0,84.000000

In [ ]:
unclassified_countries

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AIA,Anguilla,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
1,VGB,British Virgin Islands,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
2,VAT,Holy See,ECA,WE,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
3,MSR,Montserrat,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,TKL,Tokelau,EAP,EAP,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
5,TCA,Turks and Caicos Islands,LAC,LAC,Not Classified,97.000000,98.00000,96.000000,98.000000,97.000000,...,75.000000,75.000000,74.000000,86.000000,74.00000,53.00000,78.000000,64.000000,61.0,94.000000

Unfortunately, the countires which are not able to classified their economies do not have enough data to proceed stratified imputation.

In [ ]:
# concatenate all together back to form a full dataframe
modified_df = pd.concat([least_developed_countries, less_developed_countries, more_developed_countries, unclassified_countries],
                        axis = 0,
                       ignore_index = True)

In [ ]:
# show the first 5 rows
modified_df.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.0,53.0,73.0,59.0,80.0,...,28.0,19.0,37.0,24.0,40.0,17.0,21.0,22.0,33.0,45.0
1,AGO,Angola,SSA,ESA,Least Developed,76.0,76.0,76.0,61.0,84.0,...,30.0,28.0,32.0,7.0,39.0,3.0,6.0,20.0,38.0,61.0
2,BGD,Bangladesh,SA,SA,Least Developed,86.0,89.0,83.0,86.0,86.0,...,48.0,53.0,43.0,47.0,53.0,30.0,41.0,51.0,54.0,67.0
3,BEN,Benin,SSA,WCA,Least Developed,68.0,65.0,71.0,62.0,79.0,...,12.0,9.0,15.0,7.0,19.0,2.0,5.0,8.0,12.0,29.0
4,BTN,Bhutan,SA,SA,Least Developed,95.0,95.0,96.0,94.0,98.0,...,24.0,26.0,22.0,15.0,45.0,4.0,7.0,14.0,29.0,58.0

In [ ]:
# show the last 6 rows which are empty
modified_df.tail(7)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
195,USA,United States,NaN,NaN,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
196,AIA,Anguilla,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
197,VGB,British Virgin Islands,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
198,VAT,Holy See,ECA,WE,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
199,MSR,Montserrat,LAC,LAC,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
200,TKL,Tokelau,EAP,EAP,Not Classified,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
201,TCA,Turks and Caicos Islands,LAC,LAC,Not Classified,97.000000,98.00000,96.000000,98.000000,97.000000,...,75.000000,75.000000,74.000000,86.000000,74.00000,53.00000,78.000000,64.000000,61.0,94.000000

In [ ]:
# identify the datashape again
modified_df.shape

(202, 35)

In [ ]:
modified_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISO3                 202 non-null    object
 1   Country              202 non-null    object
 2   Region               201 non-null    object
 3   Sub-region           201 non-null    object
 4   Development Regions  202 non-null    object
 5   total_p              202 non-null    float64
 6   female_p             202 non-null    float64
 7   male_p               202 non-null    float64
 8   rural_p              202 non-null    float64
 9   urban_p              202 non-null    float64
 10  poorest_p            202 non-null    float64
 11  second_p             202 non-null    float64
 12  middle_p             202 non-null    float64
 13  fourth_p             202 non-null    float64
 14  richest_p            202 non-null    float64
 15  total_ls             202 non-null    float64
 16  female_ls            202 non-null    float64
 17  male_ls              202 non-null    float64
 18  rural_ls             202 non-null    float64
 19  urban_ls             202 non-null    float64
 20  poorest_ls           202 non-null    float64
 21  second_ls            202 non-null    float64
 22  middle_ls            202 non-null    float64
 23  fourth_ls            202 non-null    float64
 24  richest_ls           202 non-null    float64
 25  total_us             202 non-null    float64
 26  female_us            202 non-null    float64
 27  male_us              202 non-null    float64
 28  rural_ls.1           202 non-null    float64
 29  urban_ls.1           202 non-null    float64
 30  poorest_us           202 non-null    float64
 31  second_us            202 non-null    float64
 32  middle_us            202 non-null    float64
 33  fourth_us            202 non-null    float64
 34  richest_us           202 non-null    float64
dtypes: float64(30), object(5)
memory usage: 55.4+ KB

In [ ]:
modified_df.columns

Index(['ISO3', 'Country', 'Region', 'Sub-region', 'Development Regions',
       'total_p', 'female_p', 'male_p', 'rural_p', 'urban_p', 'poorest_p',
       'second_p', 'middle_p', 'fourth_p', 'richest_p', 'total_ls',
       'female_ls', 'male_ls', 'rural_ls', 'urban_ls', 'poorest_ls',
       'second_ls', 'middle_ls', 'fourth_ls', 'richest_ls', 'total_us',
       'female_us', 'male_us', 'rural_ls.1', 'urban_ls.1', 'poorest_us',
       'second_us', 'middle_us', 'fourth_us', 'richest_us'],
      dtype='object')

In [ ]:
# sort the dataframe
modified_df = modified_df.sort_values(by=['Country'], ignore_index = True )

In [ ]:
visualize_df = modified_df.copy()

In [ ]:
visualize_df.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.000000,53.00000,73.000000,59.000000,80.000000,...,28.000000,19.000000,37.000000,24.000000,40.00000,17.00000,21.000000,22.000000,33.0,45.000000
1,ALB,Albania,ECA,EECA,More Developed,90.000000,91.00000,89.000000,89.000000,91.000000,...,78.000000,80.000000,76.000000,74.000000,81.00000,64.00000,75.000000,79.000000,87.0,86.000000
2,DZA,Algeria,MENA,MENA,Less Developed,97.000000,97.00000,97.000000,96.000000,98.000000,...,51.000000,62.000000,40.000000,42.000000,55.00000,28.00000,42.000000,49.000000,58.0,74.000000
3,AND,Andorra,ECA,WE,More Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308
4,AGO,Angola,SSA,ESA,Least Developed,76.000000,76.00000,76.000000,61.000000,84.000000,...,30.000000,28.000000,32.000000,7.000000,39.00000,3.00000,6.000000,20.000000,38.0,61.000000

In [ ]:
visualize_df.dropna(inplace=True)

In [ ]:
visualize_df.isna().sum()

ISO3                   0
Country                0
Region                 0
Sub-region             0
Development Regions    0
total_p                0
female_p               0
male_p                 0
rural_p                0
urban_p                0
poorest_p              0
second_p               0
middle_p               0
fourth_p               0
richest_p              0
total_ls               0
female_ls              0
male_ls                0
rural_ls               0
urban_ls               0
poorest_ls             0
second_ls              0
middle_ls              0
fourth_ls              0
richest_ls             0
total_us               0
female_us              0
male_us                0
rural_ls.1             0
urban_ls.1             0
poorest_us             0
second_us              0
middle_us              0
fourth_us              0
richest_us             0
dtype: int64

In [ ]:
# idenfity the devleoping countries
developing_countries = ['Afghanistan','Albania',
                        'Algeria','Angola',
                        'Antigua and Barbuda','Argentina',
                        'Armenia','Aruba',
                        'Azerbaijan','Bahamas',
                        'Bahrain','Bangladesh',
                        'Barbados','Belarus',
                        'Belize','Benin',
                        'Bhutan','Bolivia',
                        'Bosnia and Herzegovina','Botswana',
                        'Brazil','Brunei',
                        'Bulgaria','Burkina Faso',
                        'Burundi','Cambodia',
                        'Cameroon','Cape Verde',
                        'Central African Republic','Chad',
                        'Chile','China',
                        'Colombia','Comoros',
                        'Costa Rica','Democratic Republic of the Congo',
                        'Djibouti','Dominica',
                        'Dominican Republic','East Timor',
                        'Ecuador','Egypt',
                        'El Salvador','Equatorial Guinea',
                        'Eritrea','Eswatini',
                        'Ethiopia','Federated States of Micronesia',
                        'Fiji','Gabon',
                        'Gambia','Georgia',
                        'Ghana','Grenada',
                        'Guatemala','Guinea',
                        'Guinea-Bissau','Guyana',
                        'Haiti','Honduras',
                        'India','Indonesia',
                        'Iran','Iraq',
                        'Ivory Coast','Jamaica',
                        'Jordan','Kazakhstan',
                        'Kenya','Kiribati',
                        'Kosovo','Kuwait',
                        'Kyrgyzstan','Laos',
                        'Lebanon','Lesotho',
                        'Liberia','Libya',
                        'Madagascar','Malawi',
                        'Malaysia','Maldives',
                        'Mali','Marshall Islands',
                        'Mauritania','Mauritius',
                        'Mexico','Moldova',
                        'Mongolia','Montenegro',
                        'Morocco','Mozambique',
                        'Myanmar','Namibia',
                        'Nauru','Nepal',
                        'Nicaragua','Niger',
                        'Nigeria','North Macedonia',
                        'Oman','Pakistan',
                        'Palau','Panama',
                        'Papua New Guinea','Paraguay',
                        'Peru','Philippines',
                        'Poland','Qatar',
                        'Republic of the Congo','Romania',
                        'Russia','Rwanda',
                        'Saint Kitts and Nevis','Saint Lucia',
                        'Saint Vincent and the Grenadines','Samoa',
                        'Sao Tome and Principe','Saudi Arabia',
                        'Senegal','Serbia',
                        'Seychelles','Sierra Leone',
                        'Solomon Islands','Somalia',
                        'South Africa','South Sudan',
                        'Sri Lanka','Sudan',
                        'Suriname','Syria',
                        'Tajikistan','Tanzania',
                        'Thailand','Togo',
                        'Tonga','Trinidad and Tobago',
                        'Tunisia','Turkey',
                        'Turkmenistan','Tuvalu',
                        'Uganda','Ukraine',
                        'Uruguay','Uzbekistan',
                        'Vanuatu','Venezuela',
                        'Vietnam','Yemen',
                        'Zambia','Zimbabwe']

print("No. of developing countries:", len(developing_countries))

No. of developing countries: 152

In [ ]:
# segment the devleoping countries from the dataset
developing_countries = visualize_df[visualize_df['Country'].isin(developing_countries)]

In [ ]:
# checked the first five rows
developing_countries.head(5)

,ISO3,Country,Region,Sub-region,Development Regions,total_p,female_p,male_p,rural_p,urban_p,...,total_us,female_us,male_us,rural_ls.1,urban_ls.1,poorest_us,second_us,middle_us,fourth_us,richest_us
0,AFG,Afghanistan,SA,SA,Least Developed,64.000000,53.00000,73.000000,59.000000,80.000000,...,28.000000,19.000000,37.000000,24.000000,40.00000,17.00000,21.000000,22.000000,33.0,45.000000
1,ALB,Albania,ECA,EECA,More Developed,90.000000,91.00000,89.000000,89.000000,91.000000,...,78.000000,80.000000,76.000000,74.000000,81.00000,64.00000,75.000000,79.000000,87.0,86.000000
2,DZA,Algeria,MENA,MENA,Less Developed,97.000000,97.00000,97.000000,96.000000,98.000000,...,51.000000,62.000000,40.000000,42.000000,55.00000,28.00000,42.000000,49.000000,58.0,74.000000
4,AGO,Angola,SSA,ESA,Least Developed,76.000000,76.00000,76.000000,61.000000,84.000000,...,30.000000,28.000000,32.000000,7.000000,39.00000,3.00000,6.000000,20.000000,38.0,61.000000
6,ATG,Antigua and Barbuda,LAC,LAC,Less Developed,87.096774,87.00813,87.105691,85.068376,91.487179,...,47.281818,49.327273,45.372727,40.268519,54.37037,29.87619,37.778846,43.394231,51.0,64.317308

In [ ]:
# check no. of developing countries that we have segemented from the dataframe
developing_countries.shape

(135, 35)

In [ ]:
modified_df.to_csv('/content/drive/My Drive/attendence_rate/attendence_rate.csv', index=False)